extends layout
block content
    h2 Liste des projets Disponible
    br
    ul
            table.table
                thead.thead-dark
                    tr
                    th(scope='col') Numéro
                    th(scope='col') Nom du projet
                    th(scope='col') Nom de l'encadrant
                    th(scope='col') Nombre d'étudiants max
                    th(scope='col') Disponibilité

                
                        -var index=1
                        each pro in projet 
                                tbody
                                    tr1
                                        th(scope='row')=index++
                                        td=pro.Nom
                                        td=pro.Encadrant
                                        td=pro.nombreEtudiants
                                        td  
                                            a(href="/") Choisir  