doctype html
html
  head
    title Projets Etudiants
    
    link(rel="stylesheet", href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="javascript", href='/javascripts/bootstrap.js')

    link(rel='icon' type='image/png' href='/images/icon.png')
  body
    nav.container-fluid
      img(src="/images/UL_LOGO_BLANC_RVB.png")
      h1 &nbsp Projets Etudiants
      ul
        li
          a#link(href='/index') Accueil
        li
          a#link(href='/profil')  Profil
      a#off(href="/logout") 
        img(src='/images/icon-disconnect.png') 
        
  .content 
    block content
  footer
    img(src='/images/UL_LOGO_BLANC_RVB.png' alt='logo-bw')
    p
      | 34 cours L&eacute;opold CS 25233 54052 Nancy cedex - France
      | T&eacute;l. +33(0)3 72 74 00 00