extends layout 
block content
    .container-fluid.col-6
                .text-center
                    if bien
                        .alert.alert-success #{bien}
                    if error
                        .alert.alert-danger Utilisateur Introuvable
                    img.col-7(src="/images/logo.png", alt="")
                br
                form(action="/login" method="POST")     
                    label.form-label.container-fluid E-mail
                        input.form-control(type='text' name='username'  placeholder='E-mail')
                    br
                    label.form-label.container-fluid Mot de passe
                        input.form-control(type='password' pattern=".{8,}" name='password' placeholder='Mot de passe')
                    br
                    br
                    .row
                        .col-1
                        button.btn.btn-success.col-4(type="submit")
                            | Connexion 
                        .col-2
                        a.btn.btn-success.col-4(href="register")
                            | S'inscrire
