extends layout 
block content 
    .container-fluid.col-6
                .text-center
                    img.col-7(src="/images/logo.png", alt="")
                br
                h2 Inscription
                form(action="/addprojet" method="POST")
                    label.form-label.container-fluid Nom du projet
                        input.form-control(type='text' name='nom' placeholder='Nom' required)
                    br
                    label.form-label.container-fluid Nombre d'étudiants maximal
                        input.form-control(type='number' name='nombreEtudiants' placeholder='Nombre d\'etudiants' required)
                    br
                    label.form-label.container-fluid Date limite
                        input.form-control(type='date' name='dateLimite' required)
                    .text-center
                            button.btn.btn-success.col-4(type='submit') Ajouter